
/*----------------------------
	Styling the presentation
-----------------------------*/


#impress:not(.impress-not-supported) .step{
	opacity:0.4;
}

#impress .step{
	width:700px;
	height: 600px;
	position:relative;
	margin:0 auto;
	
	-moz-transition:1s opacity;
	-webkit-transition:1s opacity;
	transition:1s opacity;
}

#impress .step.active{
	opacity:1;
}

#impress h2{
	font: normal 44px/1.5 'PT Sans Narrow', sans-serif;
	color:#444648;
	position:absolute;
	z-index:10;
}

#impress p{
	font: normal 18px/1.3 'Open Sans', sans-serif;
	color:#27333f;
	position:absolute;
	z-index:10;
}

#impress img{
	position:absolute;
	z-index:1;
}

.arrow{
	width:32px;
	height:54px;
	background:url('../img/arrows.png') no-repeat;
	position:fixed;
	top:50%;
	margin-top:-27px;
	cursor:pointer;
	text-indent:-9999px;
	overflow:hidden;
	opacity:0.8;
	border:none !important;
	text-decoration:none !important;
	
	-moz-transition:0.2s opacity;
	-webkit-transition:0.2s opacity;
	transition:0.2s opacity;
}

.arrow:hover{
	opacity:1;
}

#arrowLeft{
	left:45px;
}

#arrowRight{
	right:45px;
	background-position:top right;
}

/* Hide the arrows if impress is not supported */

#impress.impress-not-supported + .arrow,
#impress.impress-not-supported + .arrow + .arrow{
	display:none;
}


/*----------------------------
	Slide 1 - Intro
-----------------------------*/


#impress #intro{
	width: 500px;
}

#intro h2{
	top: 120px;
	text-align: center;
    width: 100%;
}

#intro p{
	font-size: 22px;
    left: 300px;
    line-height: 1.6;
    top: 220px;
    white-space: nowrap;
}

#intro img{
	left: -100px;
	top: 200px;
}


/*----------------------------
	Slide 2 - Simplicity
-----------------------------*/


#impress #simplicity{
	width: 500px;
}

#simplicity h2{
	top: 120px;
	text-align: center;
    width: 100%;
}

#simplicity p{
	font-size: 22px;
    left: 300px;
    line-height: 1.6;
    top: 220px;
    text-align: justify;
}

#simplicity img{
	top: 220px;
}


/*----------------------------
	Slide 3 - Connect
-----------------------------*/


#impress #connect{
	width: 500px;
}

#connect h2{
	top: 120px;
	text-align: center;
    width: 100%;
}

#connect p{
	font-size: 22px;
	text-align: center;
    line-height: 1.6;
    top: 400px;

}

#connect img{
	left: 70px;
	top: 200px;
}


/*----------------------------
	Slide 4 - Upload
-----------------------------*/


#impress #upload{
	width: 500px;
}

#upload h2{
	top: 120px;
	text-align: center;
    width: 100%;
}

#upload p{
	font-size: 22px;
    left: 300px;
    line-height: 1.6;
    top: 220px;
    white-space: nowrap;
}

#upload img{
	left: -100px;
	top: 230px;
}


/*----------------------------
	Slide 5 - Music
-----------------------------*/


#impress #music{
	width: 500px;
}

#music h2{
	top: 120px;
	text-align: center;
    width: 100%;
}

#music p{
	font-size: 22px;
    left: 300px;
    line-height: 1.6;
    top: 220px;
    text-align: justify;
}

#music img{
	left: -100px;
	top: 230px;
}



